@using System.Data
@using UIFactory.Factory.CSHTML.Concrete.InfomationBlock
@using UIFactory.Factory.CSHTML.Concrete.Interface
@model InfomatonBlock


<div id="@Model.GUID">

    @foreach (var item in Model.ReturnContentsAsListIUI().OrderBy(x => x.DisplayOrder))
    {
        @switch (item.UIType)
        {
            case UI.InfomationBlockImage:
                var image = (UIFactory.Factory.CSHTML.Concrete.InfomationBlock.Image)item;
                <img src="~/Images/@image.Source" id="@image.GUID" name="@image.GUID" alt="@image.Alt">

                break;
            
            case UI.InfomationBlockHeading:
                var heading = (Heading)item;
                
                @switch (heading.Level)
                {
                    case 1:
                        <h1>@heading.Text</h1>
                        break;
                    case 2:
                        <h2>@heading.Text</h2>
                        break;
                        default:
                        throw new InvalidOperationException("Unsupported heading Level");

                        break;
                }

                <h1>@heading.Text</h1>
                break;

            case UI.InfomationBlockParagraph:
                var paragraph = (Paragraph)item;
                <p>@paragraph.Text</p>
                break;

            default:
                throw new InvalidOperationException("Unsupported UI Type");
                break;
            }
    }

</div>