@using System.Data
@using UIFactory.Factory.CSHTML.Concrete.Card;
@model Card

<div class="card" style="width: 18rem;">
	<img class="card-img-top" src="~/Images/@Model.Image" id="@Model.Image.GUID" name="@Model.Image.GUID" alt="@Model.Image.Alt">
	<div class="card-body">
		<h5 class="card-title">@Model.Title</h5>
		<p class="card-text">@Model.Description</p>
		<form method="get">
			<input type="hidden" id="PostId" name="Id" value="@Model.GUID">
			<button class="btn btn-primary" type="submit" id="@Model.Navigation" asp-action="Index" asp-controller="PortfolioPiece"> View </button>
		</form>
	</div>
</div>

