@model LMWDev.Models.HomeModel
@{
	ViewData["Title"] = "Home Page";
}

<body>

	<h1>About Me</h1>


	<div class="container">
		<div class="row">
			<div class="col-sm">
				<p> Having over 5 years experience in the software industry I have worked as a software tester using mostly manual techniques and dabbled with automation. Currently I am transitioning into a support developer role. </p>
				<br>
				<h2>Hobbies and Interests</h2>
				<p>I enjoy improving my skill set by doing side projects outside of my day job, which will be displayed on this portfolio site. Some of this stems for my passion for gaming which I have done from a young age. This helped ignite my interest in computing as a whole. I also do kick boxing for both health and enjoyment.</p>

			</div>
			<div class="col-sm">
				<img width="75%" src="~/Images/LewisWhittard.png" />

			</div>

		</div>
	</div>

	<h2>My Qualifications</h2>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Qualification</th>
				<th scope="col">Result</th>
				<th scope="col">Year</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Software Development Technician Level 3</td>
				<td>Pass</td>
				<td>2018-2020</td>
			</tr>
			<tr>

				<td>BTEC Level 3 Extended Diploma in Creative Media Production (Game Development) (QCF)</td>
				<td>Merit, Merit, Pass</td>
				<td>2014-2016</td>
			</tr>
		</tbody>
	</table>

	<h2>What I do</h2>
	<div class="row">
		<div class="OverlayContainer1">
			<img src="~/Images/Software.png" alt="Software" class="image">
			<div class="overlay">
				<form action="@Url.Action("Modified", "Search")" method="post">
					<div class="ButtonOverlay">
						<button type="submit" id="ProgrammingButton" class="btn btn-primary">Programming</button>
						<input type="hidden" id="Programming" name="Programming" value="TRUE">
					</div>
				</form>
			</div>
		</div>

		<div class="OverlayContainer2">
			<img src="~/Images/Testing.png" alt="Testing" class="image">

			<div class="overlay">
				<form action="@Url.Action("Modified", "Search")" method="post">
					<div class="ButtonOverlay">
						<button type="submit" id="TestingButton" class="btn btn-primary">Testing</button>
						<input type="hidden" id="Testing" name="Testing" value="TRUE">
					</div>
				</form>
			</div>
		</div>
		<div class="OverlayContainer3">
			<img src="~/Images/Games.png" alt="Games" class="image">

			<div class="overlay">
				<form action="@Url.Action("Modified", "Search")" method="post">
					<div class="ButtonOverlay">
						<button type="submit" id="GamesButton" class="btn btn-primary">Games</button>
						<input type="hidden" id="Games" name="Games" value="TRUE">
					</div>
				</form>
			</div>

		</div>
		<div class="OverlayContainer4">
			<img src="~/Images/2DAssets.png" alt="2DAssets" class="image">
			<div class="overlay">
				<div class="overlay">
					<form action="@Url.Action("Modified", "Search")" method="post">
						<div class="ButtonOverlay">
							<button type="submit" id="TwoDAssetsButton" class="btn btn-primary">2D Assets</button>
							<input type="hidden" id="TwoDAssets" name="TwoD" value="TRUE">
						</div>
					</form>
				</div>
			</div>
		</div>

		<div class="OverlayContainer5">
			<img src="~/Images/3DAssets.png" alt="3DAssets" class="image">
			<div class="overlay">
				<form action="@Url.Action("Modified", "Search")" method="post">
					<div class="ButtonOverlay">
						<button type="submit" id="ThreeDAssetsButton" class="btn btn-primary">3D Assets</button>
						<input type="hidden" id="ThreeDAssets" name="ThreeD" value="TRUE">
					</div>
				</form>
			</div>
		</div>

		<div class="OverlayContainer6">
			<img src="~/Images/Blog.png" alt="Blog" class="image">
			<div class="overlay">
				<form action="@Url.Action("Modified", "Search")" method="post">
					<div class="ButtonOverlay">
						<button type="submit" id="BlogButton" class="btn btn-primary">Blog</button>
						<input type="hidden" id="Blog" name="Blog" value="TRUE">
					</div>
				</form>
			</div>
		</div>

	</div>

</body>

